<header>
    <div class="main-header">
        <div class="header-top">
            <div class="wrap-center">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col wrap-flex">
                        <div class="menu-expander">
                            <a href="#"><i class="icon icon-category"></i></a>
                        </div>
                        <div class="logo-wrap">
                            <a href="index.html"><img src="./assets/images/logo-imensity-new.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
