<div class="mdl-dialog-wrap full-dialog" id="dialog-search">
    <dialog class="mdl-dialog">
        <div class="dialog-content pt-0">
            <ul class="suggest">
                <li class="suggest-list with-border"><a href="category-sub.html">Jacket <i>in Candle Holders & Candlesticks</i></a></li>
                <li class="suggest-list"><a href="category-sub.html"><span>Jacket</span></a></li>
                <li class="suggest-list"><a href="category-sub.html"><span>Jackets</span></a></li>
                <li class="suggest-list"><a href="category-sub.html"><span>Jacket</span> in women</a></li>
                <li class="suggest-list"><a href="category-sub.html"><span>Jacket</span> in men</a></li>
                <li class="suggest-list"><a href="category-sub.html"><span>Jacket</span> where is my mind</a></li>
                <li class="suggest-list"><a href="category-sub.html"><span>Jacket</span> windbreakers</a></li>
            </ul>
        </div>
    </dialog>
</div>
