<div class="sidemenu-wrapper">
    <div class="sidemenu">
        <button type="button" class="btn-close"><i class="icon icon-close"></i></button>
        <ul class="top">
            <li><a href="index.html"><i class="icon icon-menu-home"></i> <span>Home</span></a></li>
            <li><a href="category.html"><i class="icon icon-menu-category"></i> <span>All Categories</span></a></li>
            <li><a href="sales.html"><i class="icon icon-discount-coupon"></i> <span>Sales</span></a></li>
            <li><a href="editor-picks.html"><i class="icon icon-menu-picks"></i> <span>Editor Pick's</span></a></li>
            <li><a href="featured.html"><i class="icon icon-menu-featured"></i> <span>Featured Product</span></a></li>
            <li><a href="preloved.html"><i class="icon icon-menu-preloved"></i> <span>Preloved</span></a></li>
        </ul>
        <ul>
            <li><a href="help.html"><i class="icon icon-menu-help"></i> <span>Help Center</span></a></li>
            <li><a href="contact.html"><i class="icon icon-menu-contact"></i> <span>Contact Us</span></a></li>
            <li><a href="about.html"><i class="icon icon-menu-about"></i> <span>About</span></a></li>
            <li><a href="career.html"><i class="icon icon-menu-career"></i> <span>Career</span></a></li>
        </ul>
        <div class="bottom-part">
            <ul>
                <li><a href="terms.html"><i class="icon icon-menu-terms"></i> <span>Terms & Conditions</span></a></li>
                <li><a href="privacy.html"><i class="icon icon-menu-privacy"></i> <span>Privacy & Policy</span></a></li>
            </ul>
            <p>
                Copyright &copy; 2018 imensity Inc.<br>
                All RIghts Reserved.
            </p>
        </div>
    </div>
</div>